<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
  <title>TextML</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/images/fast.png') }}">
  <link href="{{ url_for('static', path='/style/css/bootstrap.css') }}" rel="stylesheet">

  <script language="JavaScript" type="text/javascript"
    src="{{ url_for('static', path='/style/js/bootstrap.bundle.js') }}"></script>
  <script language="JavaScript" type="text/javascript" src="{{ url_for('static', path='/style/js/scripts.js') }}">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>

<body>
  {% block content %}
  {% endblock %}
</body>
</html>
